n8n/whatsapp-bot-ai-pro.json
{
  "name": "WhatsApp Bot (AI + PRO) - PresupuestoYa",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ]
      },
      "id": "e7c3ce18-8a58-42ef-bd0d-63b095857659",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databaseTable",
        "operation": "getMany",
        "databaseId": "professionals",
        "filters": {
          "conditions": [
            {
              "keyName": "whatsapp_number",
              "value": "={{ $json.message.from }}"
            }
          ]
        }
      },
      "id": "9d1ef4d7-2b95-48fc-a012-e6c82d092514",
      "name": "Supabase (Check Pro)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.plan }}",
              "value2": "pro"
            }
          ]
        }
      },
      "id": "ace738f8-8a58-42ef-bd0d-63b095857659",
      "name": "Is Pro?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "model": "whisper-1"
      },
      "id": "398fdb72-b930-4b0a-a3f0-f55630d4377a",
      "name": "OpenAI Whisper",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1060,
        180
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "message": [
            {
              "role": "system",
              "content": "Sos un asistente de PresupuestoYa. Tu tarea es extraer datos de un mensaje para crear un presupuesto. Devuelve un JSON con: trade (trabajo), client_name (nombre cliente), total_amount (monto), description (detalle)."
            },
            {
              "content": "={{ $node[\"WhatsApp Trigger\"].json.message.text || $json.text }}"
            }
          ]
        }
      },
      "id": "725f8143-68fe-4633-b806-e7c3ce188951",
      "name": "AI (Extraction)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databaseTable",
        "operation": "insert",
        "databaseId": "quotes",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "professional_id": "={{ $node[\"Supabase (Check Pro)\"].json.id }}",
            "trade": "={{ $json.trade }}",
            "client_name": "={{ $json.client_name }}",
            "total_amount": "={{ $json.total_amount }}",
            "description": "={{ $json.description }}",
            "channel": "whatsapp",
            "status": "sent"
          }
        }
      },
      "id": "e1c99598-020d-40f0-8192-723628f0bef9",
      "name": "Supabase (Create Quote)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "phoneNumberId": "={{ $node[\"WhatsApp Trigger\"].json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $node[\"WhatsApp Trigger\"].json.message.from }}",
        "text": "✅ *Presupuesto Generado*\n\nTrabajo: {{ $json.trade }}\nCliente: {{ $json.client_name }}\nMonto: {{ $json.total_amount }}\n\nLink para enviar: {{ 'https://presupuestosya.app/p/' + $json.slug }}"
      },
      "id": "90d860c9-5159-438b-bc3a-6b43d27e615f",
      "name": "WhatsApp Send",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1720,
        300
      ]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Supabase (Check Pro)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase (Check Pro)": {
      "main": [
        [
          {
            "node": "Is Pro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Pro?": {
      "main": [
        [
          {
            "node": "OpenAI Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper": {
      "main": [
        [
          {
            "node": "AI (Extraction)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI (Extraction)": {
      "main": [
        [
          {
            "node": "Supabase (Create Quote)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase (Create Quote)": {
      "main": [
        [
          {
            "node": "WhatsApp Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
